* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 502, 57vh;
  background-color: #101722;
}
body main {
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .containertexte {
  display: none;
}
body main .containertexte2 {
  width: 100%;
  height: 80vh;
  border-radius: 40vh 0vh 0 40vh;
  position: absolute;
  top: 130vh;
  display: flex;
  justify-content: flex-end;
  background-color: #080B10;
  -webkit-animation-name: apparition;
          animation-name: apparition;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
body main .containertexte2 .containerbloc2 {
  width: 60%;
  background-color: #080B10;
  padding: 3vw;
  display: flex;
  justify-content: flex-start;
}
body main .containertexte2 .containerbloc2 .bloctexte2 {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  color: white;
  background-color: #080B10;
}
body main .containertexte2 .containerbloc2 .bloctexte2 h2 {
  font-family: "Poppins";
  font-size: 3rem;
  font-weight: 300;
  line-height: 3em;
}
body main .containertexte2 .containerbloc2 .bloctexte2 h3 {
  font-family: "Poppins";
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  color: #B92A55;
  line-height: 4rem;
}
body main .containertexte2 .containerbloc2 .bloctexte2 a {
  font-family: "roboto";
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  color: white;
}
body main .containertexte2 .containerbloc2 .bloctexte2 p {
  font-family: "roboto";
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  color: white;
  line-height: 1rem;
}
body main .containertexte2 .containerbloc2 .bloctexte2 :nth-child(4) {
  margin-top: 4vh;
}
body main .containertexte2 .containerbloc2 .bloctexte2 :nth-child(5) {
  margin-bottom: 4vh;
}
body main .containertexte2 .containerbloc2 .containerh3 {
  display: flex;
  width: 70%;
  justify-content: space-between;
}
body main .containertexte2 .containerbloc2 .containerh3 h3 {
  font-family: "Poppins";
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  color: #B92A55;
  line-height: 3em;
}
body main .containertexte2 .containerbloc2 .containerh3 .orange {
  font-family: "Poppins";
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  color: #E98A46;
  line-height: 3em;
}
body main .containertexte2 .containerbloc2 .containerh4 {
  display: flex;
  width: 82%;
  justify-content: space-between;
}
@-webkit-keyframes apparition {
  0% {
    left: 100vw;
  }
  100% {
    left: 0;
  }
}
@keyframes apparition {
  0% {
    left: 100vw;
  }
  100% {
    left: 0;
  }
}
body main #scene {
  position: relative;
  overflow-y: scroll;
}
body main #scene #titre1 {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-top: 20vh;
  margin-left: 20%;
  width: 25vw;
}
body main #scene #titre1 h1 {
  font-family: "roboto";
  font-size: 3rem;
  font-weight: 300;
  color: white;
}
body main #scene #titre1 h2 {
  font-family: "Poppins";
  font-size: 3rem;
  font-weight: 300;
  color: #B92A55;
}
body main #scene #bgstarsN2 {
  position: absolute;
  top: 0;
  height: 3000px;
}
body main #scene #bgstarsN2 .BgimgstarsN2 {
  width: 100%;
}
body main #scene .saturne {
  margin-top: 10vh;
  width: 100vw;
  margin-left: 70%;
}
body main #scene .Anneaux1 {
  margin-top: 20vh;
  margin-left: 57%;
}
body main #scene .galaxy {
  margin-top: 350vh;
  margin-left: 80%;
  width: 4vw;
  -webkit-animation-name: turn;
          animation-name: turn;
  -webkit-animation-duration: 110s;
          animation-duration: 110s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  opacity: 80%;
}
body main #scene .galaxy img {
  width: 100%;
}
@-webkit-keyframes turn {
  0% {
    transform: rotateX(58deg) rotateY(21deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(58deg) rotateY(21deg) rotateZ(360deg);
  }
}
@keyframes turn {
  0% {
    transform: rotateX(58deg) rotateY(21deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(58deg) rotateY(21deg) rotateZ(360deg);
  }
}
body main #scene .galaxy2 {
  margin-top: 240vh;
  margin-left: 70%;
  width: 4vw;
  -webkit-animation-name: turn;
          animation-name: turn;
  -webkit-animation-duration: 50s;
          animation-duration: 50s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  opacity: 50%;
}
body main #scene .galaxy2 img {
  width: 100%;
}
@-webkit-keyframes turn2 {
  0% {
    transform: rotateX(53deg) rotateY(40deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(53deg) rotateY(40deg) rotateZ(360deg);
  }
}
@keyframes turn2 {
  0% {
    transform: rotateX(53deg) rotateY(40deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(53deg) rotateY(40deg) rotateZ(360deg);
  }
}
body main #scene .asteroide {
  margin-top: 290vh;
  margin-left: 40%;
  width: 10vw;
  -webkit-animation-name: turn3;
          animation-name: turn3;
  -webkit-animation-duration: 50s;
          animation-duration: 50s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
body main #scene .asteroide img {
  width: 100%;
}
@-webkit-keyframes turn3 {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
  }
}
@keyframes turn3 {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
  }
}
body main #scene .trounoir {
  margin-top: 150vh;
  width: 20vw;
  margin-left: -10vw;
  opacity: 70%;
}
body main #scene .trounoir img {
  width: 100%;
}
body main #scene .earth {
  margin-top: 458vh;
  width: 100vw;
}
body main #scene .earth img {
  width: 100%;
}
body main #scene .containervoyage {
  margin-top: 70vh;
  margin-left: 20%;
  width: 134px;
  height: 100%;
}
body main #scene .containervoyage .containernavette {
  width: 100%;
}
body main #scene .containervoyage .containernavette img {
  width: 90%;
}
body main #scene .containernavette.scroll {
  -webkit-animation-name: scroll1;
          animation-name: scroll1;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes scroll1 {
  0% {
    transform: translateY(0vh);
  }
  100% {
    transform: translateY(60vh);
  }
}
@keyframes scroll1 {
  0% {
    transform: translateY(0vh);
  }
  100% {
    transform: translateY(60vh);
  }
}
body main #scene .containernavette.scroll2 {
  -webkit-animation-name: scroll2;
          animation-name: scroll2;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes scroll2 {
  0% {
    transform: translateY(60vh);
  }
  100% {
    transform: translateY(110vh);
  }
}
@keyframes scroll2 {
  0% {
    transform: translateY(60vh);
  }
  100% {
    transform: translateY(110vh);
  }
}
body main #scene .containernavette.scroll3 {
  -webkit-animation-name: scroll3;
          animation-name: scroll3;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes scroll3 {
  0% {
    transform: translateY(110vh);
  }
  100% {
    transform: translateY(180vh);
  }
}
@keyframes scroll3 {
  0% {
    transform: translateY(110vh);
  }
  100% {
    transform: translateY(180vh);
  }
}
body main #scene .containernavette.scroll4 {
  -webkit-animation-name: scroll4;
          animation-name: scroll4;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes scroll4 {
  0% {
    transform: translateY(180vh);
  }
  100% {
    transform: translateY(250vh);
  }
}
@keyframes scroll4 {
  0% {
    transform: translateY(180vh);
  }
  100% {
    transform: translateY(250vh);
  }
}
body main #scene .containernavette.scroll5 {
  -webkit-animation-name: scroll5;
          animation-name: scroll5;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes scroll5 {
  0% {
    transform: translateY(250vh);
  }
  100% {
    transform: translateY(300vh);
  }
}
@keyframes scroll5 {
  0% {
    transform: translateY(250vh);
  }
  100% {
    transform: translateY(300vh);
  }
}
body main #scene .containernavette.scroll6 {
  -webkit-animation-name: scroll6;
          animation-name: scroll6;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes scroll6 {
  0% {
    transform: translateY(300vh);
  }
  100% {
    transform: translateY(375vh);
  }
}
@keyframes scroll6 {
  0% {
    transform: translateY(300vh);
  }
  100% {
    transform: translateY(375vh);
  }
}
body main #scene .containernavette #navette.scroll7 {
  -webkit-animation-name: scroll7;
          animation-name: scroll7;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes scroll7 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes scroll7 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}/*# sourceMappingURL=style.css.map */