
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 600vh;
    background-color: #101722;
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        //---------------------------------------------------------------- bloc texte ------------------------------------------------------- 
        .containertexte {
            display: none;
        }
        .containertexte2 {
            width: 100%;
            height: 90%;
            border-radius: 40vh 0vh 0 40vh;
            position: absolute;
            top: 130vh;
            display: flex;
            justify-content: flex-start;
            background-color: #080B10;
            animation-name: apparition;
            animation-duration: 2s;
            animation-fill-mode: forwards;
            .containerbloc2 {
                display: flex;
                justify-content: flex-start;
                width: 60%;
                padding: 3vw;
                margin-left: 30%;
                background-color: #080B10;
                .bloctexte2 {
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    width: 100%;
                    color: white;
                    background-color: #080B10;
                    .articlecarousel {
                        display: flex;
                        justify-content: flex-start;
                        height: 10vh;
                        width: 100%;
                        .buttoncarousel {
                            display: flex;
                            justify-content: space-around;
                            .carousel-control-prev {
                                position: relative;
                                .carousel-control-prev-icon {
                                    background-image: url("../images/left.svg");
                                    width: 10vw;
                                    height: 10vh;
                                }
                            }
                            .carousel-control-next {
                                position: relative;
                                .carousel-control-next-icon {
                                    background-image: url("../images/right.svg");
                                    width: 10vw;
                                    height: 10vh;
                                }
                            }
                        }
                    }
                    h2 {
                        font-family: 'Poppins';
                        font-size: 3rem;
                        font-weight: 300;
                        line-height: 3em;
                    }
                    h3 {
                        font-family: 'Poppins';
                        font-size: 1.5rem;
                        font-weight: 500;
                        text-decoration: none;
                        color:#B92A55;
                        line-height: 4rem;
                    }
                    a {
                        font-family: 'roboto';
                        font-size: 1rem;
                        font-weight: 400;
                        text-decoration: none;
                        color:white;
                    }
                    p {
                        font-family: 'roboto';
                        font-size: 1rem;
                        font-weight: 400;
                        text-decoration: none;
                        color:white;
                        line-height: 1.7rem;

                    }
                    :nth-child(4){
                        margin-top: 4vh;
                    }
                    :nth-child(5){
                        margin-bottom: 4vh;
                    }
                }
                .containerh3 {
                    display: flex;
                    width: 70%;
                    justify-content: space-between;
                    h3 {
                        font-family: 'Poppins';
                        font-size: 1.5rem;
                        font-weight: 500;
                        text-decoration: none;
                        color:#B92A55;
                        line-height: 3em;
                    }
                    .orange {
                        font-family: 'Poppins';
                        font-size: 1.5rem;
                        font-weight: 500;
                        text-decoration: none;
                        color:#E98A46;
                        line-height: 3em;
                    }
                }
                .containerh4 {
                    display: flex;
                    width: 82%;
                    justify-content: space-between;
                }    
            }
        }
        @keyframes apparition {
            0% {
                left: 100vw;
            }
            100% {
                left: 0;
            }
        }
        //---------------------------------------------- bloc 2 ------------------------------------------------------//
        .containertexte3 {
            display: none;
        }
        .containertexte4 {
            width: 100%;
            height: 80%;
            border-radius: 40vh 0vh 0 40vh;
            position: absolute;
            top: 230vh;
            display: flex;
            justify-content: center;
            background-color: #080B10;
            animation-name: apparition;
            animation-duration: 2s;
            animation-fill-mode: forwards;
            .articlecarousel2 {
                display: flex;
                height: 10vh;
                width: 100%;
                margin-bottom: 10vh;
                .buttoncarousel2 {
                    display: flex;
                    justify-content: space-around;
                    .carousel-control-prev {
                        position: relative;
                        .carousel-control-prev-icon {
                            background-image: url("../images/left.svg");
                            width: 10vw;
                            height: 10vh;
                        }
                    }
                    .carousel-control-next {
                        position: relative;
                        .carousel-control-next-icon {
                            background-image: url("../images/right.svg");
                            width: 10vw;
                            height: 10vh;
                        }
                    }
                }
            }
            .containerbloc4 {
                width: 60vw;
                margin-left: 10vw;
                background-color: #080B10;
                padding: 3vw;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                .containerGauche {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 40%;
                    position: relative;
                    z-index: 5;
                    margin-left: 5vw;
                    h2 {
                        color: white;
                        font-family: 'Poppins';
                        font-size: 3rem;
                        font-weight: 300;
                        line-height: 1.4em;
                    }
                    h3 {
                        font-family: 'Poppins';
                        font-size: 1.5rem;
                        font-weight: 500;
                        text-decoration: none;
                        color:#B92A55;
                        line-height: 4rem;
                    }
                    a {
                        font-family: 'roboto';
                        font-size: 1rem;
                        font-weight: 400;
                        text-decoration: none;
                        color:white;
                    }
                    p {
                        font-family: 'roboto';
                        font-size: 1rem;
                        font-weight: 400;
                        text-decoration: none;
                        color:white;
                        line-height: 1rem;  
                    }
                    :nth-child(4){
                        margin-top: 4vh;
                    }
                    :nth-child(5){
                        margin-bottom: 4vh;
                    }
                    h3 {
                        font-family: 'Poppins';
                        font-size: 1.5rem;
                        font-weight: 500;
                        text-decoration: none;
                        color:#B92A55;
                        line-height: 3em;
                    }
                    .orange {
                        font-family: 'Poppins';
                        font-size: 1.5rem;
                        font-weight: 500;
                        text-decoration: none;
                        color:#E98A46;
                        line-height: 3em;
                    }
                }
            }   
            .bloctexte4 {
                display: flex;
                text-align: left;
                width: 100%;
                color: white;
                justify-content: space-around;
                background-color: #080B10;
                align-items: center;
                .containerDroit {
                    width: 80%;
                    margin-left: 6vw;
                    .space {
                        width: 100%;
                        position: relative;
                        z-index: 4  ;
                        img {
                            border-radius: 40vh;
                            width: 100%;
                        }
                    }
                }
            }  
        }
        @keyframes apparition {
            0% {
                left: 100vw;
            }
            100% {
                left: 0;
            }
        }
        #containermusique {
            width: 80%;
            border-radius: 24px;
            height: 100%;
            top: 320vh;
            position: absolute;
            z-index: 3;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            background-color: #080B10;
            background-size: 2000% 2000%;
            align-items: center;
            @keyframes gradientmove {
                0%{
                    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,0,36,1) 35%, rgba(185,42,85,1) 47%, rgba(185,42,85,1) 51%, rgba(185,42,85,1) 53%, rgba(2,0,36,1) 65%, rgba(2,0,36,1) 100%);
                }
                100%{
                    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,0,36,1) 35%, rgba(185,42,85,1) 47%, rgba(185,42,85,1) 51%, rgba(185,42,85,1) 53%, rgba(2,0,36,1) 65%, rgba(2,0,36,1) 100%); 
                }
            }
            #anim {
                margin-top: 60vh;
                width: 40%;
                position: absolute;
                z-index: 4;
                display: flex;
                justify-content: center;
            }
            h1 {
                color: #cecbc9;
            }
            .columnPlay {
                display: flex;
                justify-content: space-around;
                width: 70%;
                height: 40%;
                position: relative;
                z-index: 2;
                .containercircle1 {
                    width: 7vw;
                    height: 7vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .circle1 {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        width: 80%;
                        height: 80%;
                        border: solid 1px rgba(206, 203, 201, 0.4);
                        .containercircle2 {
                            width: 3vw;
                            height: 3vw;
                            .circle2 {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-radius: 50%;
                                width: 100%;
                                height: 100%;
                                background: linear-gradient(to top right, #B92A55,#E98A46);
                                .playpause {
                                    border-radius: 50%;
                                    width: 80%;
                                    height: 80%;
                                    background-color: #080B10;
                                }
                                @keyframes son1 {
                                    0% {
                                        width: 80%;
                                        height: 80%;
                                        border: solid 1px rgba(206, 203, 201, 1);
                                    }
                                    50% {
                                        width: 70%;
                                        height: 70%;
                                        border: solid 1px rgba(206, 203, 201, 1);

                                    }
                                    100% {
                                        width: 80%;
                                        height: 80%;
                                        border: solid 1px rgba(206, 203, 201, 1);

                                    }
                                }     
                                @keyframes son2 {
                                    0% {
                                        width: 60%;
                                        height: 60%;
                                    }
                                    50% {
                                        width: 90%;
                                        height: 90%;
                                    }
                                    100% {
                                        width: 60%;
                                        height: 60%;
                                    }
                                }
                            }
                        }
                    }
                }
                .circle1:hover {
                    border: solid 1px rgba(206, 203, 201, 1);
                }
            }
        }

        //------------------------------------------------------ SCENE ----------------------------------------------------//
        #scene {
            position: relative;
            overflow-y: scroll;
            height: 100%;
            #titre1 {
                display: flex;
                flex-direction: column;
                align-content: space-between;
                margin-top: 20vh;
                margin-left: 20%;
                width: 25vw;
                h1 {
                    font-family: 'roboto';
                    font-size: 3rem;
                    font-weight: 300;
                    color: white;
                }
                h2 {
                    font-family: 'Poppins';
                    font-size: 3rem;
                    font-weight: 300;
                    color: #B92A55;
                }
            }
            #bgstars1 {
                width: 100%;
                // height: 100%;
            }
            #bgstarsN2 {
                width: 100%;
                // height: 100%;
                top: 0;
                .BgimgstarsN2 {
                    width:100%;
                }
            }
            .saturne {
                margin-top: 10vh;
                width: 100%;
                margin-left: 70%;
            }
            .galaxy {
                margin-top: 350vh;
                margin-left: 80%;
                width: 4vw;
                animation-name: turn;
                animation-duration: 110s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                opacity: 80%;
                img {
                    width: 100%;
                }
                @keyframes turn {
                    0% {
                        transform: rotateX(58deg) rotateY(21deg) rotateZ(0deg);
                    }
                    100% {
                        transform: rotateX(58deg) rotateY(21deg) rotateZ(360deg);
                    }
                }
            }
            .galaxy2 {
                margin-top: 240vh;
                margin-left: 70%;
                width: 4vw;
                animation-name: turn;
                animation-duration: 50s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                opacity: 50%;
                img {
                    width: 100%;
                }
                @keyframes turn2 {
                    0% {
                        transform: rotateX(53deg) rotateY(40deg) rotateZ(0deg);
                    }
                    100% {
                        transform: rotateX(53deg) rotateY(40deg) rotateZ(360deg);
                    }
                }
            }
            .asteroide {
                margin-top: 265vh;
                margin-left: -2vw;  
                width: 7vw;
                animation-name: turn3;
                animation-duration: 60s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;    
                img {
                    width: 100%;
                }
                @keyframes turn3 {
                    0% {
                        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
                    }
                    100% {
                        transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);

                    }
                }
            }
            .trounoir {
                margin-top: 155vh;
                width: 20vw;
                margin-left: -10vw;
                opacity: 70%;
                img {
                    width: 100%;
                }
            }   
            //---------------------------------------------------------------- structure voyage ------------------------------------------------------- 
            .containervoyage {
                // margin-top: -30vh;
                margin-left: 20%;
                width: 134px;
                height: 100%;
                #containernavette {
                    width: 100%;
                    img {
                        width: 90%;
                    }
                }
            }
        }
        #ballons {
            width: 100%;
            height: 50vh;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            background: transparent;
            #ballonsfloat{
                width: 40%;
                display: flex;
                align-items: flex-end;
                justify-content: space-around;
                background: transparent;
                .ballon01 {
                    visibility: hidden;
                }
                .ballon02 {
                    visibility: hidden;
                }
                .ballon03 {
                    visibility: hidden;
                }
                .ballon {
                    width: 2vw;
                    animation-name: ballon1;
                    animation-duration: 5s;
                    animation-fill-mode: forwards;
                    visibility: visible;
                    img {
                        width: 100%;
                    }
                }
                @keyframes ballon1 {
                    0% {
                        transform: translateY(0vh);
                    }
                    100% {
                        transform: translateY(-3vh);
                    }
                }
                .ballon2 {
                    width: 6vw;
                    animation-name: ballon2;
                    animation-duration: 3s;
                    animation-fill-mode: forwards;
                    visibility: visible;
                    img {
                        width: 100%;
                    }
                }
                @keyframes ballon2 {
                    0% {
                        transform: translateY(0vh);
                    }
                    100% {
                        transform: translateY(-10vh);
                    }
                }
                .ballon3 {
                    width: 10vw;
                    animation-name: ballon3;
                    animation-duration: 2s;
                    animation-fill-mode: forwards;
                    visibility: visible;
                    img {
                        width: 100%;
                    }
                }
                @keyframes ballon3 {
                    0% {
                        transform: translateY(0vh,);
                    }
                    100% {
                        transform: translateY(-10vh);
                    }
                }
            }
        }
        .earth {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
}      